body {
    text-align: center;
    /* margin: auto; */
    /* max-width: 60%; */
    background-color: rgb(160, 101, 175);

 } 
 h1{
     text-align: center;
     margin: auto;
 }
 label{
     text-align: center;
     margin: 2rem;

 }
 label,input{
     display: block;
 }
input{
     width:70%;
     height: 40px;;
     margin: auto;
     

 }
.container{
     max-width: 70%;
     margin: auto;
     text-align: center;
 }
button{
    padding: 1rem;
    margin: 2rem;
}
.link-primary{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem ;
    color: white;
    display: inline;
}
.link-secondary{
    color:var(--primary-color);
    display: inline;
    border: 1px solid var(--primary-color);
    border-radius:0.5rem;
    background-color: var(--primary-color);
    color: white
}

.list-non-bullet{
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 5rem;
}

.navigation {
    background-color:blue;
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}
.navigation .nav-brand {
    font-weight: bold;


}

.navigation .nav-pills {
    text-align: right;
    padding: 10px 60px ;

}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

